[submodule "src/trojan"]
	path = src/trojan
	url = https://github.com/trojan-gfw/trojan.git
[submodule "3rd/qthttpserver"]
	path = 3rd/qthttpserver
	url = https://github.com/qt-labs/qthttpserver.git
[submodule "src/plog"]
	path = src/plog
	url = https://github.com/SergiusTheBest/plog.git
