<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>trojan-qt5</string>
	<key>CFBundleIconFile</key>
	<string>trojan-qt5_new.icns</string>
	<key>CFBundleGetInfoString</key>
	<string>Trojan-Qt5</string>
	<key>CFBundleIdentifier</key>
	<string>com.thewanderingcoel.trojan-qt5</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Trojan-Qt5</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>Trojan-Qt5 1.2.0</string>
	<key>CFBundleSignature</key>
	<string>trojan-qt5</string>
	<key>CFBundleVersion</key>
	<string>1.2.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>bmzcQnOMLLTdjgdXSyEpSDAw1Gv5wRraInICUMNOMkE=</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon</string>
			<key>CFBundleURLName</key>
			<string>com.thewanderingcoel.trojan-qt5</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>trojan-qt5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon</string>
			<key>CFBundleURLName</key>
			<string>com.thewanderingcoel.ss</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ss</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon</string>
			<key>CFBundleURLName</key>
			<string>com.thewanderingcoel.ssr</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ssr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon</string>
			<key>CFBundleURLName</key>
			<string>com.thewanderingcoel.vmess</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vmess</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon</string>
			<key>CFBundleURLName</key>
			<string>com.thewanderingcoel.trojan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>trojan</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon</string>
			<key>CFBundleURLName</key>
			<string>com.thewanderingcoel.snell</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>snell</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon</string>
			<key>CFBundleURLName</key>
			<string>com.thewanderingcoel.naiveproxy</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>naiveproxy</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon</string>
			<key>CFBundleURLName</key>
			<string>com.thewanderingcoel.felix</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>felix</string>
			</array>
		</dict>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019-2020年 TheWanderingCoel. All rights reserved.</string>
</dict>
</plist>
