Source: trojan-qt5
Section: net
Priority: optional
Maintainer: TheWanderingCoel <thewanderingcoel@protonmail.com>
Uploaders: TheWanderingCoel <thewanderingcoel@protonmail.com>
Build-Depends:  debhelper (>= 11),
                libgrpc++-dev (>= 1.16.1-1~),
                libprotobuf-dev (>= 3.6.1.3-1~),
                protobuf-compiler (>= 3.6.1.3-1~),
                protobuf-compiler-grpc (>= 1.16.1-1~),
                qtbase5-dev (>= 5.11.1-1~),
                qttools5-dev (>= 5.11.1-1~),
                libzbar-dev (>= 0.10-10~),
                libqrencode-dev (>= 3.4.4-1~),
                libuv1-dev (>= 1.34.2-1~),
                libsodium-dev (>= 1.0.17-1~),
                libssl-dev (>= 1.1.1c-0~),
                zlib1g-dev (>= 1.2.11-2~),
                libicu-dev (>= 60.2-3~),
                libbz2-dev (>= 1.0.6-2~),
                libyaml-cpp-dev (>= 0.6.2~4)

Standards-Version: 4.5.0
Homepage: https://github.com/Trojan-Qt5/Trojan-Qt5
Package: trojan-qt5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: trojan
Description: A cross-platform ss/ssr/vmess/trojan(go) GUI client
