[Desktop Entry]
Name=Trojan-Qt5
GenericName=Trojan-Qt5
Comment=cross-platform ss/ssr/vmess/trojan(go) GUI client
Exec=trojan-qt5
Icon=trojan-qt5
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
StartupWMClass=trojan-qt5
MimeType=x-scheme-handler/ss;x-scheme-handler/ssr;x-scheme-handler/vmess;x-scheme-handler/trojan;x-scheme-handler/snell;x-scheme-handler/trojan-qt5;x-scheme-handler/felix;