[Desktop Entry]
Name=Trojan-Qt5
GenericName=Trojan-Qt5
Comment=Trojan GUI client
Exec=trojan-qt5
Icon=trojan-qt5_new_white
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
