[Desktop Entry]
Name=Trojan-Qt5
GenericName=Trojan-Qt5
Comment=Trojan GUI client
Exec=trojan-qt5
Icon=trojan-qt5_new_white
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
StartWMClass=trojan-qt5
MimeType=x-scheme-handler/ss;x-scheme-handler/ssr;x-scheme-handler/vmess;x-scheme-handler/trojan;x-scheme-handler/snell;x-scheme-handler/trojan-qt5;x-scheme-handler/felix;